<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
    id="jfcUnit"
    name="%pluginName"
    version="2.08"
    provider-name="%providerName">

    <runtime>
        <library name="jakarta-regexp-1.2.jar">
            <export name="*"/>
            <packages prefixes="org.apache.regexp"/>
        </library>
        <library name="jfcunit.jar">
            <export name="*"/>
            <packages prefixes="junit.extensions.jfcunit"/>
        </library>
    </runtime>
    <requires>
        <import plugin="org.junit"/>
    </requires>

    <extension point="org.eclipse.help.toc">
        <toc file="helpDocTOC.xml" primary="true"/>
    </extension>
</plugin>
